@import url('components/banner.css');
@import url('components/navbar.css');
@import url('components/about.css');
@import url('components/projects.css');
@import url('components/contact.css');

@font-face {
  font-family: 'Lemon Milk';
  src: url('./fonts/LemonMilk.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Modern Sans';
  src: url('./fonts/Modern_Sans_Light.otf'); /* IE9 Compat Modes */
}

a {
  color: white;
  transition: all ease 0.3s;
}
a:hover {
  text-decoration: none;
  color: white;
}
